<!DOCTYPE html>
<html>
<head>
   <title>S2S Test App</title>
    <link href="~/dist/app.css" rel="stylesheet" />
    <link rel="shortcut icon" href="https://static.tildacdn.com/tild6361-3535-4935-b363-333766303463/favicon_7.ico" />
</head>
<body style="margin: 0; overflow-x:hidden">
    <div id="app" class="app"/>
    <script src="@Url.Content("~/dist/app.js")"></script>
</body>
</html>